<% if @collection.errors.any? %>
	<div id="error_explanation">
		<p><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</p>

		<ul>
			<% @collection.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>