<% if @slider.errors.any? %>
  $('.errors').html("<%= j (render 'errors') %>");
<% else %>
	$(".clear").val('');
	$("#rentable").html("<%= j (render 'table') %>");
	$(".task-form").show();
	$(".task-form").html("<p class='notice'>Slider updated succesfully.</p>");
	$(".task-form").delay(3000).hide(0);
<% end %>