<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2 class="meta_title"><%= title 'Blog' %></h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="title_container">
	<h1>Hablamos sobre Café</h1>
	<div class="line"></div>
	<%= image_tag 'blog_icon.png'%>
	<div class="subtitle_container">El contar historias con sabor a café, nace a partir de un estilo de vida donde el visitar cafeterías, participar de procesos de preparación de café y documentar cada detalle se volvió un hecho cotidiano, por lo que Caffora nos cuenta de una manera única como disfrutar un mundo inmerso en café. </div>
</div>
<div class="wrapper_blog_posts">
	<div>
		<%= render :file => '/posts/index' %>
	</div>
</div>