<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2>Blog</h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="container">
	<div class="title_container">
		<h1>“The world offers itself to your imagination.”</h1>
		<div class="line"></div>
		<%= image_tag 'blog_icon.png'%>
		<div class="subtitle_container">Cherish your solitude. Take trains by yourself to places you have never been. Sleep out alone under the stars. Learn how to drive a stick shift. Go so far away that you stop being afraid of not coming back. Say no when you don’t want to do something. Say yes if your instincts are strong, even if everyone around you disagrees. Decide whether you want to be liked or admired. Decide if fitting in is more important than finding out what you’re doing here. Believe in kissing. </div>
	</div>
</div>
<div class="wrapper_blog_posts">
	<div>
		<%= render :file => '/posts/index' %>
	</div>
</div>