<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2><%= title 'Contacto' %></h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="title_container">
	<h1>Contáctenos</h1>
	<div class="line"></div>
	<%= image_tag 'contact_icon.png'%>
</div>
<div class="contact_wrapper">
	<div class="contact">
		<div class="contact_info">
			<p>Nos encantaría escuchar lo que piensa de nuestro proyecto. No dude en contactarnos si tiene alguna consulta o comentario.</p>
			<span>Heredia, Costa Rica <br>(506) 8814 3107 / <a href="mailto:info@caffora.cafe">info@caffora.cafe</a></span>
			<div class="contact_social_info">
				<div class="contact_social">
					<a href="https://www.facebook.com/caffora/" target="_blank" class="transitionOne">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://www.instagram.com/cafforablog/" target="_blank" class="transitionOne">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCHksw5TqiCyqZV26e9zgycQ" target="_blank" class="transitionOne">
						<i class="fa fa-youtube-play"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="contact_form">
		<div class="form">
			<%= render :file => '/messages/new' %>
		</div>
	</div>
</div>
