<div class="title_page">
	<%= image_tag 'page-title.jpg'%>
	<div class="title_content">
		<h2 class="meta_title"><%= title 'Mantenimiento' %></h2>
		<div class="page_subtitle">We are Caffora team</div>
	</div>
</div>
<div class="wrapper_maintenance">
	<div class="maintenance">
		<i class="fa fa-picture-o" aria-hidden="true"></i>
		<h1>Slider</h1>
	</div>
	<div class="maintenance">
		<i class="fa fa-file-text" aria-hidden="true"></i>
		<h1>Post</h1>
	</div>
	<div class="maintenance">
		<i class="fa fa-camera" aria-hidden="true"></i>
		<h1>Gallery</h1>
	</div>
	<div class="maintenance">
		<i class="fa fa-user" aria-hidden="true"></i>
		<h1>Users</h1>
	</div>
</div>