<% if @picture.errors.any? %>
  $(".picture_errors").html("<%= j (render 'errors') %>");
<% else %>
	$(".picture_clear").val('');
	$(".picture_table").html("<%= j (render 'table') %>");
	$(".picture_form").show();
	$(".picture_form").html("<p class='picture_notice'>Picture updated succesfully.</p>");
	$(".picture_form").delay(3000).hide(0);
<% end %>