/*var row = undefined;

$(function(){
  $(".post_edit").bind('ajax:complete', function(e) {
  	row = $(this).parent().next(".post_row");
  	console.log(row);
  	if( $(row).is(':visible') ){
  		$(row).slideToggle();
  	}else{
  		$('.post_row').each(function(){
  			if ( $(this).is(':visible') ) {
  				$(this).fadeOut();
  			}
  		})
  		$(row).html('<%= j (render "form") %>');
  		$(row).slideToggle();
  	}

  	e.stopImmediatePropagation();

  });
});*/
/*
var row;
var link;

$(function(){
  

  $( ".post_edit" ).bind( "click", function() {
    link = $(this);
  });


  $(link).bind('ajax:success', function(e) {
    row = $(this).parent().next(".post_row");
    if( $(row).is(':visible') ){
      $(row).hide();
    }else{
      $('.post_row').each(function(){
        if ( $(this).is(':visible') ) {
          $(this).fadeOut();
        }
      })
      $(row).html('<%= j (render "form") %>');
      $(row).show();
    }

    e.stopImmediatePropagation();

  });

  console.log(row);
});

*/
$(".post_clear").val('');
$(function(){
  $(".post_edit").bind('ajax:complete', function() {
  	$(".post_row").remove();
   	$(this).closest('div').after('<div class="post_row"><%= j (render "form") %></div>');
   	$(".post_row").slideToggle(500);
  });
});
