$(".post_clear").val('');
$(function(){
  $(".post_edit").bind('ajax:complete', function() {
  	$(".post_form").hide();
  	$(".post_row").remove();
   	$(this).closest('div').after('<div class="post_row animationOne"><%= j (render "form") %></div>');
  });
});
