/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/***********************DEFAULT***********************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body{
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 100px;
	opacity: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

/***********************FONTS***********************/

@font-face{
	font-family:proxima_nova_ltlight;
	src:url(proxima_nova_ltlight.eot);
	src:url(proxima_nova_ltlight.eot?#iefix) format('embedded-opentype'),
	url(proxima_nova_ltlight.woff) format('woff'),url(proxima_nova_ltlight.ttf) format('truetype'),
	url(proxima_nova_ltlight.svg#proxima_nova_ltlight) format('svg');
	font-weight:400;
	font-style:normal;
}

@font-face{
	font-family:proxima_nova_ltsemibold;
	src:url(proxima_nova_ltsemibold.eot);
	src:url(proxima_nova_ltsemibold.eot?#iefix) format('embedded-opentype'),
	url(proxima_nova_ltsemibold.woff) format('woff'),
	url(proxima_nova_ltsemibold.ttf) format('truetype'),
	url(proxima_nova_ltsemibold.svg#proxima_nova_ltsemibold) format('svg');
	font-weight:400;
	font-style:normal;
}

@font-face{
	font-family:revicons;
	src:url(revicons.eot);
	src:url(revicons.eot?#iefix) format('embedded-opentype'),
	url(revicons.woff) format('woff'),
	url(revicons.ttf) format('truetype'),
	url(revicons.svg#revicons) format('svg');
	font-weight:400;
	font-style:normal;
}

/***********************TRANSITIONS***********************/

.transitionOne{
	-webkit-transition: all .4s linear 0s;
	-khtml-transition: all .4s linear 0s;
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}

/***********************GENERAL***********************/

h1{
	font-size: 50px;
	font-weight: 400;
	font-family: 'Alice', serif;
	text-transform: uppercase;
}

h2{
	text-transform: uppercase;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1px;
	font-size: 48px;
	-webkit-transition: all .3s linear 0s;
	-moz-transition: all .3s linear 0s;
	-ms-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;

	&:hover{
		color: #9d132c;
	}
}

h4{
	text-transform: uppercase;
	font-size: 17px;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1px;
	padding: 20px 0 2px 0;
	display: block;	
}

h5{
	font-family: 'Questrial', sans-serif;
	font-size: 60px;
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 75px;
}	

h6{
	line-height: 39px;
	font-size: 32px;
	color: #1f1f1f;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Questrial', sans-serif;
}



.span_h1{
	color: #fff;
	line-height: 68px;
	font-size: 48px;
	text-align: center;
	font-family: Playfair Display;
	font-weight: 400;
	font-style: italic;
	z-index: 1;
	position: relative;
	letter-spacing: 0.5px;
}

.wrapper_posts_home{
	padding-bottom: 100px;
}

.wrapper_collections_home{
	padding-bottom: 100px;
}

.wrapper_blog_posts{
	padding-bottom: 100px;
}

.wrapper_gallery_collections{
	padding-bottom: 100px;
}

.post_wrapper{
	padding: 0 10%;
}

.container,
.contact_wrapper,
.about_container,
.containerOne{
	margin-left: 10%;
	margin-right: 10%;
	display: inline-block;
	width: 80%;
}

.collection_wrapper,
.images_wrapper{
	width: 100%;
}

.buttonOne{
	text-decoration: none;
	border: 1px solid #9d132c;
	color: #9d132c;
	padding: 10px 80px;
	text-transform: uppercase;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 30px;
	background-color: #fff;
}

.buttonOne:hover{
	color: #fff;
	background-color: #9d132c;
}

.separator{
	border-bottom: 1px solid #eee;
	padding-top: 60px;
}

.line{
	border-bottom: 1px solid #E0E0E0;
	position: relative;
	top: 53px;
	width: 100%;
	margin: auto;
}

.link{
	font-family: Playfair Display;
	font-weight: 400;
	font-style: italic;
	color: #000;
	font-size: 20px;

	&:hover{
		color: #9d132c;
	}
}

#menu_mobile{
	display: none;
}

.display{
	display: block !important;
}

.noDisplay{
	display: none;
}

.animation_partial{
	-webkit-transition: all 700ms linear;
	-moz-transition: all 700ms linear;
	-o-transition: all 700ms linear;
	-ms-transition: all 700ms linear;
	transition: all 700ms linear;
}

#Content{
	background-color: #fff;
	text-align: center;
}

.background_logo{
	background-image: url(logo1.png);
	background-repeat: no-repeat;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 248px;
	z-index: -1;

	opacity: 0;
}

/***********************HEADER***********************/

.logo{
	background-image: url(logo.png);
	height: 67px;
	width: 185px;
	display: block;
	float: left;
	margin: 0 0 0 40px;
	background-repeat: no-repeat;
}

.header_wrapper{
	width: 1200px;
	margin: 0 auto;
}

header{
	padding: 15px 0 15px 0;
	font-family: proxima_nova_ltsemibold;
	display: block;
	overflow: auto;
	text-align: center;
	position: fixed;
	z-index: 500;
	background: rgba(255,255,255,.97)!important;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
	top: 0;
	left: 0;
	right: 0;

	img{
		float: left;
		padding-left: 40px;
	}

	nav ul{
		list-style-type: none;
		float: right;
		margin-top: 25px;
		margin-bottom: 10px;

		li{
			float: left;
			padding: 0 40px 0 0;
			transition: all .3s linear 0s;			

			a{
				float: left;
				cursor: pointer;
				text-decoration: none;
				color: #212121;
				font-size: 13px;
				text-transform: uppercase;
				letter-spacing: 1px;
				transition: all .4s linear 0s;

				&:hover{
					color: #9d132c;
					text-decoration: none;

					&:after{
						color: #9d132c;
						width: 100%;
					};
				}

				&:focus{
					text-decoration: none;
				}

				&:after{
					display: block;
					content: "";
					width: 0;
					left: 0;
					border-bottom: 2px solid #9d132c;
					transition: all .3s linear 0s;
					padding-bottom: 3px;
					position: relative;
					bottom: -2px;
				}
			}

			.active{
				color: #9d132c;
				border-bottom: 2px solid #9d132c;
				transition: none;
			}
		}
	}
}

#menu_classic{
	overflow: auto;
}

.header_icon{

	border-bottom: none !important;
	position: relative;
	top: -9px;

	&:after{
		border-bottom: none;
	}

	i{
		font-size: 30px !important;
	}
}


/***********************VIEWTITLE***********************/

.title_page{
	height: 250px;
	overflow: hidden;
	position: relative;

	img{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-khtml-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0;
		width: 100%;
	}
}

.title_content{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-khtml-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;

	h2{
		color: #fff;
	}
}	

.page_subtitle{
	font-size: 23px;
	color: #fff;
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: italic;
	letter-spacing: .5px;
}

.title_container{
	padding: 100px 0 40px 0;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;

	h1{
		padding-bottom: 40px;
	}

	img{
		padding: 0 30px 40px 30px;
		background-color: #fff;
		z-index: 2;
    	position: relative;
	}
}


.subtitle_container{
	font-family: Playfair Display;
	font-weight: 400;
	font-style: italic;
	font-size: 25px;
	color: #212121;
	padding: 0 100px 20px 100px;
}

/***********************SLIDER***********************/

.scroller_container{
	position: relative !important;

	&:hover .slick-arrow{
	opacity: 1;
	}
}

.scroller{
	margin-bottom: 0;
}

.overlay{
	background-color: rgba(0,0,0,0.45);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slick-arrow{
	background-color: rgba(0,0,0,0.5) !important;
	z-index: 1;
	width: 40px;
	height: 40px;
	opacity: 0;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;

	&:hover{
		background-color: #000 !important;
	}
}

.slick-next{
	margin-right: 10px;

	&:before{
		content: '\e825';
		color: #fff;
		font-family: revicons;
	}
}

.slick-prev{
	margin-left: 10px;

	&:before{
		content: '\e824';
		color: #fff;
		font-family: revicons;
	}
}

.slick-slide{
	position: relative;

	img{
		width: 100%;
	}
}

.scroller_content{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-khtml-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 70%;
	padding: 0 20% 0 20%;

	span{
		display: block;
		color: #fff;
		padding-top: 10px;
		font-family: Playfair Display;
		font-weight: 400;
		font-style: italic;
	}

	a{
		font-family: 'Questrial', sans-serif;
		border: 1px solid #fff;
		padding: 10px 20px;
		margin-top: 30px;
		display: inline-block;
		color: #fff;
		font-size: 15px;
		-webkit-transition: all 150ms linear 0ms;
		-khtml-transition: all 150ms linear 0ms;
		-moz-transition: all 150ms linear 0ms;
		-ms-transition: all 150ms linear 0ms;
		-o-transition: all 150ms linear 0ms;
		transition: all 150ms linear 0ms;

		&:hover{
			background: #fff;
			color: #1f1f1f;
		}
	}
}

/***********************INDEX***********************/

.parallax{
	position: relative;
	background-image: url('caffora_coffe_hands.jpg');
	background-position: 50% 0;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 200px 0;
	padding-left: 13%;
	padding-right: 13%;

	img{
		width: 100%;
	}
}

.parallax_post{
	position: relative;
	background-position: 50% 0;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 170px 0;
	margin: 60px 0 30px 0;

	img{
		width: 100%;
	}
}

/***********************POSTGRID***********************/

.post_grid{
	font-size: 0;
}

.post_container{
	width: 33.333333%;
	display: inline-block;
	position: relative;
	padding-bottom: 40px;
	vertical-align: top;
}

.post_thumb {
	position: relative;

	&:after{
		content: "";
		-webkit-transition: all .3s linear 0s;
		-khtml-transition: all .3s linear 0s;
		-moz-transition: all .3s linear 0s;
		-ms-transition: all .3s linear 0s;
		-o-transition: all .3s linear 0s;
		transition: all .3s linear 0s;
	}
}

.post{
	padding: 0 15px 0 15px;

	&:hover .post_thumb::after {
		-webkit-transform: scale(1.07, 1.1);
		-khtml-transform: scale(1.07, 1.1);
		-moz-transform: scale(1.07, 1.1);
		-ms-transform: scale(1.07, 1.1);
		-o-transform: scale(1.07, 1.1);
		transform: scale(1.07, 1.1);
		border: 2px solid #9d132c;	
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	img{
		width: 100%;
		display: block;
	}

	h4{
		a{
			color: #1f1f1f;

			&:hover{
				color: #9d132c;
			}
		}
	}
}

.post_details{
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: italic;
	letter-spacing: .5px;
	color: #888;

	span{
		padding: 0 3px;
		font-size: 16px;
	}
}

.post_view{
	padding-top: 22px;
	font-family: proxima_nova_ltlight;
	letter-spacing: .5px;
	font-size: 14px;

	a{
		color: #9d132c;
		padding: 8px 17px 8px 17px;

		&:hover{
			color: #fff;
			background-color: #9d132c;
		}
	}
}



.post_cover{
	position: relative;
	line-height: 0px;

	span{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-khtml-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100%;
		display: block;
		font-size: 200px;
		opacity: 0.4;
	}

	img{
		width: 100%;
	}
}

.post_title{
	padding: 60px 0 40px 0;

	p{
		font-family: 'Playfair Display';
		font-weight: 400;
		font-style: italic;
		letter-spacing: .5px;
		color: #888;
		font-size: 22px;
		display: block;
	}

	span{
		font-size: 17px;
	}

	a{
		color: #fff;
		background-color: #bbbbbb;
		width: 45px;
		height: 45px;
		line-height: 45px;
		margin-top: 20px;
		display: inline-block;
		text-align: center;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		&:hover{
			background-color: #b46d70;
		}
	}
}

/***********************CONTENTGRID***********************/

.content_container{
	margin: 0 100px 0 100px;
}

.content_links{
	width: 100%;
	text-align: left;
	padding-bottom: 25px;

	a, span{
		color: #888;
		padding: 0 10px 0 10px;
		
	}

	a:hover{
		color: #9d132c;
	}
}

.content_paragraph{
	text-align: justify;
	font-size: 21px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-bottom: 25px;
	line-height: 30px;
}

.content_image{
	padding-bottom: 25px;

	img{
		width: 100%;
	}
}

.content_video{
	padding-bottom: 25px;
}

.content_title{
	display: block;
	text-align: left;
	font-size: 27px;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	padding-bottom: 17px;
}

/***********************COLLECTIONGRID***********************/

.collection_container{
	width: 33.33333%;
	display: inline-block;
	margin-right: -2px;
	margin-left: -2px;
	vertical-align: top;
	margin-bottom: -1px;
}

.collection{
	position: relative;
	overflow: hidden;

	&:hover img{	
		-webkit-transform: scale(1.3);
		-khtml-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		transform: scale(1.3);
	}

	img{
		width: 100%;
		display: block;
		-webkit-transition: all .3s linear 0s;
		-khtml-transition: all .3s linear 0s;
		-moz-transition: all .3s linear 0s;
		-ms-transition: all .3s linear 0s;
		-o-transition: all .3s linear 0s;
		transition: all .3s linear 0s;
	}
}

.overlay_collection{
	background-color: rgba(0, 0, 0, 0.45);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(1.5);
	-khtml-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 150ms linear 0ms;
	-khtml-transition: all 150ms linear 0ms;
	-moz-transition: all 150ms linear 0ms;
	-ms-transition: all 150ms linear 0ms;
	-o-transition: all 150ms linear 0ms;
	transition: all 150ms linear 0ms;

	&:hover{
		-webkit-opacity: 1;
		-khtml-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
		-webkit-transform: scale(1);
		-khtml-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.overlay_content{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-khtml-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	a{
		color: #fff;
	}

	span{
		display: block;
		color: #fff;
		font-style: italic;
		font-family: 'Playfair Display';
		font-weight: 400; 
	}
}

.collection_links{
	width: 100%;
	padding: 15px 0;

	a, span{
		color: #888;
		padding: 0 10px 0 10px;
		
	}

	a:hover{
		color: #9d132c;
	}
}

.collection_title{
	padding: 60px 0 ;

	img{
		padding-top: 20px;
	}
}

.overlay_wrap{

	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 0;

	img{
		width: 100%;

	}
}

.row{
	margin-right: -15px;
	margin-left: -15px;
	position: relative;
}

.cms-grid-item-masonry {
	width: 25%;
	margin-bottom: 30px;
	position: absolute;
}

.col-lg-3, 
.col-md-3, 
.col-sm-6,
.col-xs-12{
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.cms-grid-item-masonry,
.cms-grid-wraper{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.cms-grid-item-masonry:nth-child(3),
.cms-grid-item-masonry:nth-child(4),
.cms-grid-item-masonry:nth-child(7),
.cms-grid-item-masonry:nth-child(10),
.cms-grid-item-masonry:nth-child(15),
.cms-grid-item-masonry:nth-child(16),
.cms-grid-item-masonry:nth-child(19),
.cms-grid-item-masonry:nth-child(22),
.cms-grid-item-masonry:nth-child(27),
.cms-grid-item-masonry:nth-child(28),
.cms-grid-item-masonry:nth-child(31),
.cms-grid-item-masonry:nth-child(34),
.cms-grid-item-masonry:nth-child(39),
.cms-grid-item-masonry:nth-child(40),
.cms-grid-item-masonry:nth-child(43),
.cms-grid-item-masonry:nth-child(46),
.cms-grid-item-masonry:nth-child(51),
.cms-grid-item-masonry:nth-child(52),
.cms-grid-item-masonry:nth-child(55),
.cms-grid-item-masonry:nth-child(58),
.cms-grid-item-masonry:nth-child(63),
.cms-grid-item-masonry:nth-child(64),
.cms-grid-item-masonry:nth-child(67),
.cms-grid-item-masonry:nth-child(70),
.cms-grid-item-masonry:nth-child(75),
.cms-grid-item-masonry:nth-child(76),
.cms-grid-item-masonry:nth-child(79),
.cms-grid-item-masonry:nth-child(82),
.cms-grid-item-masonry:nth-child(87),
.cms-grid-item-masonry:nth-child(88),
.cms-grid-item-masonry:nth-child(91),
.cms-grid-item-masonry:nth-child(94),
.cms-grid-item-masonry:nth-child(99),
.cms-grid-item-masonry:nth-child(100),
.cms-grid-item-masonry:nth-child(103),
.cms-grid-item-masonry:nth-child(106),
.cms-grid-item-masonry:nth-child(111),
.cms-grid-item-masonry:nth-child(112),
.cms-grid-item-masonry:nth-child(115),
.cms-grid-item-masonry:nth-child(118) {
	width: 50%;
}

.icon{
	font-size: 18px;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	line-height: 50px;
	display: inline-block;
	background-color: #888888;
	color: #fff;
	text-align: center;
	transition: all 300ms linear 0ms;

	&:hover{
		background-color: #9d132c;
	}
}

/***********************IMAGEGRID***********************/

.slider-nav{

	.image{
		padding: 0 10px;

		img{
			width: 100%;
			cursor: pointer;
		}
	}
}

.image_links{
	width: 100%;
	padding: 15px 0 0 0;

	a{
		color: #888;
		padding: 0 10px 0 10px;
		
	}

	a:hover{
		color: #9d132c;
	}
}

.image_grid{
	padding: 0 30px 0 30px;
	overflow: auto;
}

.image_container{

	&:hover .slick-arrow{
	opacity: 1;
	}
}

/***********************ABOUT***********************/

.about_container{
	padding-top: 100px;
}

.about{
	padding-bottom: 65px;
	overflow: auto;
	position: relative;
}

.about_image{
	float: left;
	width: 58%;

	div{
		padding: 0 15px 0 15px;

		img{
			width: 100%;
		}
	}	
}

.about_info{	
	width: 42%;
	display: block;
	position: absolute;
	top: 0;
	bottom: 65px;
	text-align: left;

	div{
		padding: 0 15px 0 15px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-khtml-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);	

		span{
			display: block;
			line-height: 24px;
			letter-spacing: .5px;
			color: #888;
			font-size: 20px;
			font-family: 'Playfair Display';
			font-weight: 400;
			font-style: italic;
			padding: 10px 0 22px 0;
		}

		p{
			line-height: 24px;
			letter-spacing: .5px;
			color: #888;
			font-size: 18px;
			font-family: proxima_nova_ltlight;
			text-align: justify;
		}
	}
}

.about:nth-child(odd){
	.about_image{
		float: left;
	}
	.about_info{
		right: 0px;
	}
}

.about:nth-child(even){
	.about_image{
		float: right;
	}
	.about_info{
		left: 0px;
	}
}	


.about_slider{

	padding: 30px 0 70px 0;

	img{
		width: 100%;
	}

	&:hover .slick-arrow{
	opacity: 1;
	}
}


/***********************FOOTER***********************/

footer{
	text-align: center;
}

.footer_social{
	background: #2d2d2d;
	padding: 40px 0;

	a{
		background: #fff;
		color: #1f1f1f;
		margin-right: 5px;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 22px;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		&:hover{
			background-color: #9d132c;
			color: #fff;
		}

	}
}

.footer_info{
	color: #fff;
	background-color: #1f1f1f;
	padding: 70px 0 75px 0;
	font-family: 'Questrial', sans-serif;
	letter-spacing: .5px;

	div{
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		padding-bottom: 40px;

		a{
			color: #fff;
		}
	}

	p{
		color: #888;
	}
}

/***********************CONTACT***********************/

.contact_wrapper{
	padding-bottom: 80px;
}

.contact{
	width: 45%;
	float: left;
}

.contact_info{
	padding: 0 15px 0 15px;
	text-align: left;

	p{
		margin-bottom: 40px;
		line-height: 24px;
		letter-spacing: .5px;
		color: #888;
		font-size: 14px;
		font-family: proxima_nova_ltlight;
	}

	span{
		letter-spacing: .5px;
		font-size: 20px;
		color: #212121;
		line-height: 28px;
		font-family: Playfair Display;
		font-weight: 400;
		font-style: italic;

		a{
			color: #212121;
		}
	}
}

.contact_social_info{
	padding: 50px 0 50px 0;
}

.contact_social{

	a{
		background: #1f1f1f;
		color: #fff;
		margin-right: 5px;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 22px;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		&:hover{
			background-color: #9d132c;
		}
	}
}

.contact_form{
	width: 55%;
	float: right;
}

.form{
	padding: 0 15px 0 15px;
}

.field{
	line-height: 24px;
	letter-spacing: .5px;
	color: #888;
	font-size: 14px;

	textarea,
	input{
		width: 100%;
		font-family: proxima_nova_ltlight;
		height: 50px;
		line-height: 50px;
		border: 1px solid #eee;
		padding: 0 20px;
		outline: 0;
		margin-bottom: 20px;
		-webkit-transition: all .3s linear 0s;
		-khtml-transition: all .3s linear 0s;
		-moz-transition: all .3s linear 0s;
		-ms-transition: all .3s linear 0s;
		-o-transition: all .3s linear 0s;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 0 0px 1000px white inset;

		&:hover{
			border-color: #b46d70;
		}
	}

	textarea{
		height: 240px;
		margin-bottom: 30px;
		resize: none;
	}
}

.buttom{
	float: left;

	input{
		cursor: pointer;
	}
}

.message_errors{
	height: 18px;
}

.message_notice{
	display: none;
	font-size: 18px;
	color: #212121;
	line-height: 28px;
	font-family: Playfair Display;
	font-weight: 400;
	font-style: italic;
}

.message_warning{
	display: block;
}

/***********************WINNERS***********************/

.wrapper_winners_barismo{
	width: 1200px;
	margin: 0 auto;
	text-align: left;
	padding: 40px 0 80px 0;
}

.title_container_winners{

	padding: 60px 100px 0px 100px;
	img{
		width: 167px;
		padding: 0 30px 0 30px;
	}

	h1{
		display: inline;
		vertical-align: top;
		position: relative;
		top: 55px;
	}
}

.winners_wrapper{

	padding: 0 100px 50px 100px;
	border-bottom: 1px solid #E0E0E0;

	img{
		width: 30px;
	}

	ul{

		padding-left: 350px;
		list-style-type: none;

		h4{
			padding: 0 0 10px 0;
			font-size: 25px;
		}

		span{
			font-family: 'Playfair Display';
			font-style: italic;
			letter-spacing: .5px;
			font-weight: 400;
			text-transform: none;
			color: #888;
		}
	}
}


/***********************RESPONSIVE***********************/

@media (max-width: 1500px) {
	
	.post_cover span {
		font-size: 180px;
	}
}

@media (max-width: 1400px) {
	
	.post_cover span {
		font-size: 160px;
	}
}

@media (max-width: 1300px) {
	
	.post_cover span {
		font-size: 140px;
	}
}

@media (max-width: 1220px) {
	
	.header_wrapper{
		width: 100%;
	}

	.wrapper_winners_barismo{
		width: 100%;
	}
}

@media (max-width: 1200px) {
	
	.container,
	.collection_wrapper,
	.about_container,
	.containerOne{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	h5{
		font-size: 50px;
		line-height: normal;
	}

	.scroller_content{

		span{
			font-size: 25px;
		}
	} 

	.post_wrapper{
		padding: 0;
	}

	.post_cover span {
		font-size: 130px;
	}
}

@media (max-width: 1150px) {

	.title_container_winners{
		text-align: left;

		img{
			padding: 0 30px 0 0;
		}
	}

	.winners_wrapper{
		ul{
			padding-left: 0;
			text-align: right;
		}
	}

}

@media (max-width: 1100px) {
	
	h1{
		font-size: 48px;
	}

	h5{
		font-size: 45px;
	}

	.scroller_content{

		span{
			font-size: 22px;
		}
	}

	.post_cover span {
		font-size: 120px;
	}

}

@media (max-width: 1000px) {
	
	body{
		padding-top: 0;
	}

	header{

		position: relative;

		img{
			display: block;
			padding: 30px 0 30px 0;
			margin: 0 auto;
			float: none;
		}

		nav{

			ul{
				float: none;

				li{
					display: inline-block;
					float: none;
					padding: 0 20px 0 20px;
				}
			}
		}
	}

	.span_h1{
		font-size: 45px;
		line-height: 50px;
	}
	
	h1{
		font-size: 45px;
	}

	h5{
		font-size: 42px;
	}

	.scroller_content{

		span{
			font-size: 20px;
		}
	}

	.collection_container,
	.post_container {
		width: 50%;
	}

	.title_container{
		padding-top: 60px;

		h1{
			padding-bottom: 30px;
		}

		img{
			padding-bottom: 15px;
		}
	}

	.wrapper_collections_home{
		padding-bottom: 70px;
	}

	.wrapper_posts_home{
		padding-bottom: 50px;
	}

	.contact_wrapper{
		margin-left: 3%;
		margin-right: 3%;
		width: 94%;
	}

	.post_cover span {
		font-size: 110px;
	}

	.logo{
		float: none;
		margin: 30px auto;	
	}

	.title_container_winners{
		padding: 60px 50px 0px 50px;
	}

	.winners_wrapper{
		padding: 0 50px 50px 50px;
	}

	.background_logo{
		display: none;
	}
}

@media (max-width: 900px) {

	.span_h1{
		font-size: 40px;
		line-height: 45px;
	}

	h1{
		font-size: 40px;
	}

	h5{
		font-size: 37px;
	}

	.scroller_content{

		span{
			font-size: 18px;
		}
	}

	.about_info{
		position: relative;
		width: 100%;
		padding-bottom: 40px;
	
		div {
			padding: 0 15px 0 15px;
			position: relative;
			-webkit-transform: translateY(0%);
			-khtml-transform: translateY(0%);
			-moz-transform: translateY(0%);
			-ms-transform: translateY(0%);
			-o-transform: translateY(0%);
			transform: translateY(0%);
		}
	}

	.about:nth-child(odd){
		float: none;
	}

	.about_image {
		float: right !important;
		width: 535px;
	}

	.post_cover span {
		font-size: 100px;
	}
}


@media (max-width: 800px) {
	
	header{
		nav{

			ul{

				li{
					display: block;
					
					a{
						color: #fff;
						margin: 0 auto;
						display: block;
						float: none;
						padding: 15px 0 10px 0;
						background-color: #2d2d2d;
						line-height: 25px;
						font-size: 13px;

						&:hover{
							color: #fff;
						}

						&:after{
							border-bottom: 0px;
						}
					}

					.active{
						border-bottom: 0px;
						color: #fff;
						background-color: #9d132c;

						&:hover{
							color: #fff;
						}

					}
				}
			}
		}
	}

	.header_icon {
		top: 0px;
	}

	#menu_mobile{
		padding: 20px 0 15px 0;
		line-height: 25px;
		font-size: 20px;
		background-color: #2d2d2d;
		color: #fff;
		cursor: pointer;
		display: block;
	}

	.span_h1{
		font-size: 35px;
		line-height: 40px;
	}

	h1{
		font-size: 35px;
	}

	h5{
		font-size: 32px;
	}

	.scroller_content{

		span{
			font-size: 16px;
		}
	}

	.line {
		top: 39px;
	}

	.title_container{
		img{
			width: 70px;
			padding: 0 20px 20px 20px;
		}
	}

	.content_container {
		margin: 0 3%;
	}

	.subtitle_container{
		padding: 0;
		font-size: 18px;
	}

	.about_container{
		padding-top: 60px;
	}

	.post_cover span {
		font-size: 90px;
	}

	.logo{
		background-image: url(logo1.png);
		height: 248px;
		width: 250px;
	}

	header {
		padding: 0px 0 25px 0;
	}

	.title_container_winners{

		padding: 60px 10px 0px 10px;

		img {
			display: block;
			margin: 0 auto;
			padding: 0;
		}

		h1{
			display: block;
			text-align: center;
			padding: 30px 0 0 0;
			top: 0;
		}
	}

	.winners_wrapper {

		padding: 0 10px 50px 10px;

		ul {

			padding-top: 30px;
			text-align: center;

			h4 {
				padding: 0 0 10px 0;
				font-size: 18px;
			}
		}
	}

	.cms-grid-item-masonry {
		width: 100% !important;
	}

	.circle{
		display: none;
	}
}

@media (max-width: 700px) {

	.span_h1{
		font-size: 28px;
		line-height: 33px;
	}

	h1{
		font-size: 30px;
	}

	h5{
		font-size: 27px;
	}

	.scroller_content{

		span{
			font-size: 15px;
			padding-top: 0;
		}
	}

	.contact_form,
	.contact {
		width: 100%;
		float: none;
	}

	.form,
	.contact_info{
		padding: 0;
	}

	.post_cover span {
		font-size: 75px;
	}
}

@media (max-width: 650px) {

	.collection_container,
	.post_container {
		width: 100%;
	}
}

@media (max-width: 600px) {

	.span_h1{
		font-size: 28px;
		line-height: 33px;
	}

	h5{
		font-size: 23px;
	}

	.scroller_content{
		width: 100%;
	}

	.post_cover span {
		font-size: 60px;
	}

	.winners_wrapper {

		ul {

			h4 {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 550px) {

	.about_image {
		width: 100%;
	}
}

@media (max-width: 500px) {

	.span_h1{
		font-size: 26px;
		line-height: 30px;
	}

	h1{
		font-size: 26px;
	}

	.footer_info{
		div{
			font-size: 14px;
		}

		p{
			font-size: 14px;
		}
	}

	.about_image {
		width: 100%;
	}

	.post_cover span {
		font-size: 50px;
	}

	.winners_wrapper {

		ul {

			h4 {
				font-size: 14px;
			}
		}
	}
}






.post_container{
	transition: transform 250ms ease-out, opacity 250ms ease-out;
}

.post_row{
	background-color: #f8f8f8;
	display: none;
}


/***********************FORMS***********************/

.edit_post,
.new_post{
	padding-top: 50px;
}

.edit_post{
	display: none;
}

.new_post{
	display: inline-block;	
	max-width: 400px;
}

.new_post,
.edit_post{
	i{
		font-size: 50px;
	}

	.actions{
		input{
			color: #fff;
			background-color: #2FA4E7;
			border-color: #2FA4E7;
			display: inline-block;
			font-weight: 400;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			border: 1px solid transparent;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			border-radius: 0.25rem;
			-webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
			-o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2FA4E7), color-stop(60%, #1d9ce5));
			background-image: -webkit-linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
			background-image: -o-linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
			background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
			background-repeat: no-repeat;
			font-family: 'Alice', serif;
			font-size: 16px;

			&:focus{
				-webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
				box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
			}

			&:hover{
				color: #fff;
				background-color: #1992d7;
				border-color: #178acc;
			}

			&:active{
				color: #fff;
				background-color: #178acc;
				border-color: #1682c0;
				-webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
				box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
			}
		}
	}

	.field{
		text-align: left;
		padding-bottom: 16px;	

		label{
			display: block;
			margin-bottom: .5rem;
			font-family: 'Alice', serif;
			font-size: 16px;
			letter-spacing: 0;
			color: #000;
		}
		select,
		input{
			height: initial;		
			display: block;
			width: 100%;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-image: none;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			margin-bottom: 0;
			font-family: 'Alice', serif;
			font-size: 16px;

			&:focus{
				color: #495057;
			    background-color: #fff;
			    border-color: #a1d6f4;
			    outline: none;
			    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
			    box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
			}
		}
		select{
			width: 32.4%;
			display: inline-block;	
			font-family: 'Alice', serif;
			font-size: 16px;
		}
	}

	.insert{
		display: block;
		overflow: hidden;
		text-align: left;
		padding-bottom: 16px;

		label{
			display: block;
			margin-bottom: .5rem;
			font-family: 'Alice', serif;
			font-size: 16px;
		}

		input{
			font-family: 'Alice', serif;
			font-size: 16px;
		}
	}
}

.post_new,
.post_links{

	a{		
		color: #fff;
		background-color: #2FA4E7;
		border-color: #2FA4E7;
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		-webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		-o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2FA4E7), color-stop(60%, #1d9ce5));
		background-image: -webkit-linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
		background-image: -o-linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
		background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
		background-repeat: no-repeat;
		font-family: 'Alice', serif;
		font-size: 16px;

		&:focus{
			-webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
			box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
		}

		&:hover{
			color: #fff;
			background-color: #1992d7;
			border-color: #178acc;
		}

		&:active{
			color: #fff;
			background-color: #178acc;
			border-color: #1682c0;
			-webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
			box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
		}
	}
}

.post_links{
	a{
		margin: 20px 10px 10px 10px;
		width: 56px;
	}
}

/***********************NOTICE PAGE BOTTOM***********************/

.notice{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 30px;
    padding: 20px 0px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Alice', serif;
    display: none;
    z-index: 100;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73A839), color-stop(60%, #699934));
    background-image: -webkit-linear-gradient(#88c149, #73A839 60%, #699934);
    background-image: -o-linear-gradient(#88c149, #73A839 60%, #699934);
    background-image: linear-gradient(#88c149, #73A839 60%, #699934);
    background-repeat: no-repeat;
}

/***********************FORMS ERROR***********************/

#error_explanation{
	font-family: 'Alice', serif;
	font-size: 16px;

	p{
	    text-transform: uppercase;
	    padding: 30px 0;
	    color: red;
	    
	}

	li{
		list-style-type: none;	
	}
	
}