// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'slick';
@import 'slick-theme';

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }

  img{
  	width: 100%;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}

