<% if @image.errors.any? %>
  $(".image_errors").html("<%= j (render 'errors') %>");
<% else %>
	$(".image_clear").val('');
	$('.image_table').html("<%= j (render 'table') %>");
	$(".image_form").show();
	$(".image_form").html("<p class='notice'>Image updated succesfully.</p>");
	$(".image_form").delay(3000).hide(0);
<% end %>